#Title{
  text-align: center;
  font-family: "Helvetica";
  font-size: 35px;
  padding-top: 2%;
  padding-bottom: 2%;
}
#ZipCode-Form{
  text-align: center;
  padding-left: 58px;
}
#ZipCode-Input{
  width: 275px;
}
Navbar{
  color: white
}
.weatherVals{
  padding-top: 25px;
}

.cityName{
  padding-top: 40px;
}