.capitalize{
    text-transform: capitalize;
}

.weatherIcon{
    font-family: "helvetica";
    font-size: 45px;
}
.weatherIcon, img{
    width: 150px;
    height: 150px;
}

.Card{
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    
}

.topPad{
    padding-bottom: 30px;
}

.capitalize{
    padding-top: 15px;

    font-family: "helvetica";
    font-size: 35px;
}

.padding{
    padding: 2% 2% 2% 2%;
}
