.center{
    text-align: center;
}

.padding{
    padding: 1% 1% 1% 1%;
}

.table-color{
    background-color: lightgrey;
}

.roundedLoading {
    border-radius: 5px;
}

Table, thead, th, tr, td{
    border-color: black !important;
    border-width: 1px !important;
    border-style: solid !important;
}